.image{
    background-image: url(https://educationinprogress.eu/images/social_media.png);
    background-repeat: no-repeat;
    width: 100vh;
    height: 100vh;
    background-size: cover;
    background-position: center;
    border-radius: 45%;
}

.texts{
    font-weight: bold !important;
}

.btnCancel{
    margin-right: 20px !important;
}

.btnRegister{
    margin-left: 20px !important;
}

.text-decorator-none{
    text-decoration: none;
}